<div class="base-file-uploader">

    <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="16px" class="file-input-box">
        <div class="page-header-4" *ngIf="dataContext?.title">
            {{dataContext.title}} <span *ngIf="dataContext?.isRequired">*</span>
        </div>

        <div *ngIf="dataContext?.description">
            {{dataContext.description}}
        </div>

        <div class="file-upload" *ngIf="!uploadedFile">
            <input [required]="dataContext && dataContext.isRequired"
                [accept]="config && config.fileTypes? (config.fileTypes | acceptFormat) : 'image/*,.pdf'"
                style="display: none;" #fileUploadInput type="file"
                (click)="$event.stopPropagation();emitControlTouch(); " (change)="onFileChange($event)">
            <button mat-button [disabled]="fileDeleting || fileUploading"
                (click)="$event.preventDefault();fileUploadInput.click()">
                <mat-icon>file_upload</mat-icon>
                <span>Upload file</span>
            </button>
        </div>

        <ng-container *ngIf="config?.showErrorInsideBox && errorMessages && errorMessages.length">
            <div class="error-message" *ngFor="let errorMsg of errorMessages">
                {{errorMsg}}
            </div>
        </ng-container>


        <div *ngIf="uploadedFile" class="fake-uploader-box-container">
            <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="space-between center" class="fake-uploader-box"
                [ngClass]="{'show-border-box' : dataContext && dataContext.showBorderBox}">
                <div class="file-name">
                    {{uploadedFile.name}}
                </div>
                <div>
                    <button mat-icon-button (click)="deleteFile()" [disabled]="fileDeleting || fileUploading">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>



    </div>

</div>