.custom-done-circular {
    color: map-get($mat-bs-system, green);
    font-size: 16px;
}


.custom-select-icon {
    margin-right: 10px;
    background: #DE322B;
    border-radius: 50%;
    color: white;
}
