@import "../utils/variables";

.page-header-1{
    font-family: $custom-font-family;
    font-size: 28px;
    font-weight: 700;
    line-height: normal;
}

.page-header-2{
    font-family: $custom-font-family;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
}

.page-header-3{
    font-family: $custom-font-family;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
}

.page-header-4{
    font-family: $custom-font-family;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
}