<div fxFlexFill fxLayout="row" fxLayoutAlign.lt-md="center center" fxLayoutAlign.gt-sm="start" class="login-container">
  <!-- <div fxFlex.gt-sm="75" fxHide.lt-md="true" class="banner-container">
        <img src="assets/images/banner2.jpg" alt="" height="100%" width="100%">
        <div class="page-header-1 title-container">SHIFA TELEMEDICINE</div>
    </div> -->
  <div fxFlex.gt-sm="25" fxLayout="column" class="login-box">
    <button mat-raised-button color="primary" (click)="navigateToSignUp()">
      Sign up
    </button>
  </div>
</div>