@import "./themes/styles-bauleiter.scss";
@import "./utils/variables";
@import "./utils/spacing";
@import "utils/typography";
@import "~@angular/material/theming";
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");

body {
    font-family: $custom-font-family;
}

html {
    letter-spacing: 0 !important;
}

app-root-default {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
    min-width: 0;
}

/******************************
icon class
*****************************/


.icon-icn_report:before {
    content: "\e900";
}

.icon-icn_planning:before {
    content: "\e901";
}

/******************************
Width Height class
*****************************/
// .w-12348 {
//     width: 12348px;
// }

// .w-1400 {
//     width: 1400px;
// }

// .w-5000 {
//     width: 5000px;
// }

// .h-1600 {
//     height: 1600px;
// }

// .w-99-p {
//     width: 99%;
// }

// .w-54-p {
//     width: 54%;
// }

/******************************
ellipsis class
*****************************/

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    white-space: nowrap;
}

.ellipsis-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    word-wrap: break-word;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
    -webkit-box-orient: vertical;
}

.ellipsis-3 {
    -webkit-line-clamp: 3;
    display: -webkit-box;
    word-wrap: break-word;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
    -webkit-box-orient: vertical;
}

.ellipsis-4 {
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
    -webkit-box-orient: vertical;
}

.text-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.scbs-content-container {
    width: 100%;
    max-width: calc((100% - (100vw - 1328px)));
    margin: 0 auto !important;
    padding-left: 24px;
    padding-right: 24px;
}

//////////////////////////////////////////////////////////////////////////
// New Copy
//////////////////////////////////////////////////////////////////////////

.login-text-background {
    background-color: rgba(255, 255, 255, 0.6);
    display: inline-block;
    padding: 20px;
}

.secondary-text-color-two {
    color: mat-color($mat-bs-accent, 500) !important;
}

.white-color {
    color: #fff !important;
}

.icon-color-brown {
    color: #c4b350 !important;
}

// a {
//     color: mat-color($mat-bs-primary, 500) !important;

//     &:hover {
//         color: mat-color($mat-bs-primary, 500) !important;
//     }
// }

.mat-menu-content {
    padding: 0 !important;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.flex-basis-auto {
    flex-basis: auto !important;
}

.secondary-text-color {
    color: mat-color($mat-bs-accent, 500) !important;
}

.legacy-bold {
    font-family: $custom-font-family !important;
}

.italic {
    font-family: $custom-font-family !important;
}

.primary-text-color {
    color: mat-color($mat-bs-primary, 500) !important;
}

.calibri-font-bold {
    font-family: $custom-font-family !important;
}

.calibri-font-regular {
    font-family: $custom-font-family !important;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-lowercase {
    text-transform: lowercase;
}

.border-bottom-1 {
    border-bottom: 1px solid #ddd;
}

.border-top-1 {
    border-top: 1px solid #ddd;
}

.display-block {
    display: block !important;
}

.display-inline-block {
    display: inline-block !important;
}

.display-none {
    display: none !important;
}

.p-r {
    position: relative;
}

.p-a {
    position: absolute;
}

.line-height-40 {
    line-height: 40px !important;
}

.word-break {
    word-break: break-word !important;
}

.mat-white-bg {
    border-radius: 2px;
}

.clearfix {
    overflow: auto;
}

.clearfix {
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.opacity-6 {
    opacity: 0.6;
}

.modal-container {
    max-height: 600px !important;
    overflow-y: auto !important;
    padding: 24px !important;
}

.select-sidenav-color {
    background: #fff;
}

.nav {
    font-weight: 600 !important;
}

.nav .nav-item .nav-link:hover {
    background-color: mat-color($mat-bs-primary, 50) !important;
}

.nav .nav-item .nav-link.active {
    background-color: mat-color($mat-bs-primary, 500) !important;
}

fuse-navbar-vertical .navbar-header {
    background: $custom-white-color !important;
}

.nav .nav-link-icon {
    font-size: 20px !important;
    color: mat-color($mat-bs-accent, 300);
}

//
//fuse-nav-vertical-item{
//    .mat-ripple-element {
//        width: 0 !important;
//    }
//}

.nav .nav-item .nav-link .mat-ripple-element {
    position: absolute !important;
}

.nav-link {
    .nav-link-title {
        color: mat-color($mat-bs-accent, 300);
    }
}

.nav .nav-item .nav-link.active,
.nav .nav-item .nav-link.active .nav-link-icon {
    color: $custom-white-color !important;
}

.nav .nav-item .nav-link.active,
.nav .nav-item .nav-link.active .nav-link-title {
    color: $custom-white-color;
}

.nav.material2 .nav-item .nav-link,
.material2 .nav .nav-item .nav-link {
    border-radius: 0 30px 30px 0;
}

navbar navbar-vertical-style-1 .navbar-scroll-container .user {
    height: 96px !important;
    min-height: 96px !important;
    max-height: 96px !important;
    padding: 14px 0 64px !important;
}

navbar navbar-vertical-style-1 .navbar-scroll-container .user .avatar-container {
    top: 60px !important;
    width: 72px !important;
    height: 72px !important;
    background: $custom-white-color !important;
}

navbar navbar-vertical-style-1 .navbar-scroll-container .user .avatar-container .avatar {
    width: 64px !important;
    height: 64px !important;
}

.navbar-scroll-container .user .email {
    margin-top: 2px !important;
}

.nav .nav-item .nav-link {
    min-height: 48px !important;
    height: auto !important;
}

.nav>.nav-item.nav-collapsable.open {
    background: $custom-white-color !important;
}

body.theme-ecap fuse-sidebar {
    background: $custom-white-color;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.05);
}

body.theme-ecap .mat-menu-item {
    color: map-get($mat-bs-accent, 500) !important;
}

/* Remove Chrome Input Field's Unwanted Yellow Background Color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.edit-delete-btn {
    a {
        text-align: center;
        transition: all 0.4s;

        &:hover {
            background: #e6e6e6;
        }

        cursor: pointer;

        mat-icon {
            color: mat-color($mat-bs-primary, 500) !important;
            font-size: 20px;
            line-height: 22px;
        }
    }
}

app-data-table {
    width: 100%;
}

.overflow-hidden {
    overflow: hidden !important;
}

.no-pointer {
    pointer-events: none !important;
}

.loginBackground {
    width: 100%;
    overflow: hidden;
    //   background: url("https://az-cdn.selise.biz/selisecdn/cdn/sko/top-bg/sko_login_bg.png") no-repeat;
    background: url("../assets/images/login-bg.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
}

.datatable-header-cell-wrapper .datatable-header-cell-label {
    font-family: $custom-font-family !important;
}

.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
    font-family: $custom-font-family;
    min-height: 59px !important;
}

.data-table-wrapper .ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
    min-height: 48px !important;
}

.datatable-body-cell-label {
    color: black !important;
    width: 100%;
}

.datatable-header-cell-template-wrap {
    width: 100%;
    height: 16px !important;
}

.mat-tab-link.mat-tab-label-active.mat-tab-label-content {
    color: mat-color($mat-bs-primary, 500) !important;
}

//.mat-tab-label{
//    color: rgba(0, 0, 0, 0.87);
//}

.mat-tab-link:focus {
    color: mat-color($mat-bs-primary, 500) !important;
}

.mat-tab-label-active>.mat-tab-label-content {
    color: mat-color($mat-bs-primary, 500) !important;
}

.mat-tab-label {
    opacity: 1 !important;
}

.mat-tab-link {
    font-size: 16px !important;
    color: mat-color($mat-bs-accent, 500);
    letter-spacing: 0.5px;
    opacity: 1 !important;
    font-family: $custom-font-family !important;
    height: 64px !important;
}

.ngx-datatable .datatable-body .datatable-body-row {
    outline: none;
    //cursor: pointer;
    font-family: $custom-font-family;
    font-size: 16px;
    color: mat-color($mat-bs-primary, 500);
    line-height: 21px;
}

.ngx-datatable .datatable-header .datatable-header-cell:hover span.resize-handle {
    height: 16px !important;
    margin: auto 0 !important;
}

.ngx-datatable .datatable-header .datatable-header-cell .resize-handle {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    line-height: 100%;
    visibility: hidden;
    width: 24px !important;
    margin: auto 4px;
    cursor: ew-resize;
}

.ngx-datatable .datatable-header .datatable-header-cell .resize-handle:before {
    content: "\f07e";
    font-family: FontAwesome;
    line-height: 100%;
    font-size: 16px;
    color: mat-color($mat-bs-accent, 500);
}

.ngx-datatable.material .datatable-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.54);
}

.datatable-header-cell-wrapper .datatable-header-cell-label {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.0125em;
    text-transform: uppercase;
    color: #262626;
}

.ngx-datatable.material .datatable-header .datatable-header-cell {
    text-align: left;
    padding: 0 24px !important;
    min-height: 68px !important;
}

.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
    padding: 18px 24px !important;
    line-height: 20px;
    font-size: 14px;
    line-height: 20px;
    color: #262626;
}

.ngx-datatable.material .datatable-body .datatable-row-wrapper:first-child {
    border-top: none !important;
}

.ngx-datatable.material .datatable-body .datatable-row-wrapper:first-child .datatable-body-row {
    border-top: 1px solid rgba(0, 0, 0, 0.12) !important;
}

.ngx-datatable.material .datatable-body .datatable-row-wrapper {
    border-bottom: none !important;
}

.ngx-datatable.material .datatable-body .datatable-row-wrapper .datatable-body-row {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
}

.ngx-datatable.material.single-selection .datatable-body-row.active,
.ngx-datatable.material.single-selection .datatable-body-row.active .datatable-row-group,
.ngx-datatable.material.multi-selection .datatable-body-row.active,
.ngx-datatable.material.multi-selection .datatable-body-row.active .datatable-row-group,
.ngx-datatable.material.multi-click-selection .datatable-body-row.active,
.ngx-datatable.material.multi-click-selection .datatable-body-row.active .datatable-row-group {
    background-color: #eee !important;
}

.ngx-datatable.material .datatable-footer {
    border-top: none !important;
}

.mat-form-field {
    font-family: $custom-font-family !important;
}

.mat-form-field-label {
    color: mat-color($mat-bs-accent, 500);
    font-family: $custom-font-family !important;
}

.mat-dialog-container {
    padding: 0 !important;
}

.radio-label {
    color: mat-color($mat-bs-accent, 500) !important;
}

.phone-number {
    .mat-icon-button {
        height: 30px !important;
        width: 30px !important;
        line-height: 30px !important;
    }
}

/*
Chart CSS
*/

.advanced-pie-legend .total-value {
    line-height: 28px !important;
    font-size: 24px !important;
}

.advanced-pie-legend .total-label {
    font-size: 18px !important; // position: absolute;
}

.advanced-pie-legend .legend-items-container {
    width: 100%;
}

.advanced-pie-legend .legend-items-container .legend-items {
    white-space: normal !important;
    overflow: none !important;
}

.advanced-pie-legend-wrapper {
    margin-top: 16px !important;
}

.advanced-pie-legend .legend-items-container .legend-items .legend-item {
    cursor: pointer;
}

.advanced-pie-legend .legend-items-container .legend-items .legend-item .item-color {
    width: 16px !important;
    height: 16px !important;
    float: left;
    margin-right: 7px;
}

.advanced-pie-legend .legend-items-container .legend-items .legend-item .item-value {
    font-size: 16px !important;
    margin-left: 23px !important;
    line-height: 16px !important;
    margin-top: 0px !important;
    font-weight: bold;
}

.advanced-pie-legend .legend-items-container .legend-items .legend-item .item-percent {
    display: none;
}

.advanced-pie-legend .legend-items-container .legend-items .legend-item .item-label {
    font-size: 16px !important;
    opacity: 1 !important;
    margin-left: 23px !important;
    margin-top: 0px !important;
    font-family: $custom-font-family !important;
    margin-bottom: 20px !important;
}

.overflow-x {
    overflow-x: auto;
}

.overflow-y-auto {
    overflow-y: auto !important;
}

.customer-title {
    h3 {
        line-height: 24px;
        position: relative;
    }

    mat-icon {
        color: #808080 !important;
    }
}

.customer-title-grey {
    div {
        position: relative;

        mat-icon {
            color: mat-color($mat-bs-primary, 500) !important;
        }
    }

    h3 {
        line-height: 24px;
        color: mat-color($mat-bs-primary, 500) !important;
    }
}

.legal-yes {
    color: #c4b350 !important;

    mat-icon {
        color: #c4b350 !important;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.delete-header {
    background: mat-color($mat-bs-primary, 500) !important;
}

.profile-fixed {
    width: 286px;
    position: sticky;
    top: 32px;
}

.display-flex {
    display: flex;
    display: -webkit-flex;
}

.custom-fileter-area {
    .custom-filter-body {
        mat-form-field.mat-form-field {
            .mat-input-wrapper {
                font-size: 14px !important;
            }
        }
    }
}

.mat-button-toggle-group {
    box-shadow: none !important;
}

.mat-button-toggle-label-content {
    background: rgba(153, 153, 153, 0.2) !important;
}

.mat-button-toggle {
    margin-bottom: 8px;
    margin-right: 5px;
}

.mat-button {
    font-size: 16px;
}

button,
input,
optgroup,
select,
textarea {
    font-size: 16px;
}

.nav .nav-group>.group-title {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    height: 48px !important;
    font-weight: 600 !important;
    padding-left: 24px !important;
    font-family: $custom-font-family;
    margin-top: 8px !important;
    font-size: 18px !important;
    white-space: nowrap !important;
    color: #333 !important;
}

.mat-checkbox-frame {
    border-color: #808080 !important;
}

// .navbar-header {
//     mat-icon {
//         color: mat-color($mat-bs-primary, 500) !important;
//     }

//     .user-profile {
//         mat-icon {
//             color: mat-color($mat-bs-accent, 500) !important;
//         }
//     }

//     .username {
//         font-family: "Source Sans Pro" !important;
//         color: mat-color($mat-black);
//     }

//     .designation {
//         font-size: 12px !important;
//         color: mat-color($mat-bs-accent, 500);
//         font-family: "Source Sans Pro" !important;
//     }
// }

// Customer detials scss
.accordion-title {
    font-size: 18px;
    color: mat-color($mat-bs-accent, 500);
    font-family: "Source Sans Pro" !important;
}

.customer-primary-label {
    padding: 5px 12px;
    background: #49b668;
    color: #fff;
}

.add-contact-btn {

    p,
    mat-icon {
        color: mat-color($mat-bs-primary, 500) !important;
    }
}

.contact-details {
    mat-icon {
        color: mat-color($mat-bs-primary, 500) !important;
    }
}

table.simple tbody tr:last-child td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
}

.product-type {
    span {
        font-family: $custom-font-family !important;
    }
}

.customer-type {
    span {
        font-family: $custom-font-family !important;
    }
}

.customer-name {
    span {
        font-family: $custom-font-family !important;
    }
}

.resource-tab {
    table {
        thead {
            tr {
                th {
                    font-family: $custom-font-family;
                }
            }
        }
    }
}

.income-source {
    thead {
        background: #e6e6e6 !important;
    }

    mat-icon {
        color: mat-color($mat-bs-primary, 500) !important;
    }
}

.add-expense {

    p,
    mat-icon {
        color: mat-color($mat-bs-primary, 500) !important;
    }
}

table.simple tbody tr td:last-child {
    padding-right: 16px !important;
}

.mat-file-upload {
    mat-card {
        .file-info {
            font-size: 16px !important;
            font-family: $custom-font-family !important;
        }
    }
}

.file-info {
    font-size: 16px !important;
}

.my-avatar {
    .avatar-container {
        display: inline-block;

        .avatar-content {
            font-family: $custom-font-family !important;
        }
    }
}

.footer {
    min-height: 45px !important;
    max-height: 45px !important;
    height: 45px !important;
}

.mat-tab-links {
    white-space: nowrap !important;
    overflow-x: auto !important;
}

.customer-table .ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
    span {
        word-break: break-all !important;
    }
}

.profile-menu {
    min-width: 190px !important;

    span {
        font-family: $custom-font-family;
    }
}

.mat-card {
    font-family: $custom-font-family;
}

.mat-tab-group {
    font-family: $custom-font-family;
}

// dialog components scss
.custom-dialog {
    //width: 556px;

    .mat-button,
    .mat-raised-button {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
}

.custom-dialog-delete {
    width: 680px;
    height: 100% !important;
}

.true-check {
    color: #c4b350 !important;
}

.false-check {
    color: mat-color($mat-bs-primary, 500) !important;
}

/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
    .custom-dialog {
        width: 100% !important;
        //height: 100% !important;
    }

    .custom-dialog-delete {
        width: 100% !important;
       
    }

    .logo {
        padding: 0 10px !important;
    }

    .toolbar-horizontal-logo {
        height: 28px !important;
    }
}

/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .custom-dialog {
        width: 100% !important;
       // height: 100% !important;
    }

    .custom-dialog-delete {
        width: 100% !important;
        height: 100% !important;
    }

    .logo {
        padding: 0 10px !important;
    }

    .toolbar-horizontal-logo {
        height: 28px !important;
    }
}

.coverage-scope {
    div {
        ul {
            margin: 0 !important;
            padding: 0 !important;

            li {
                color: #333;
            }
        }
    }
}

coming-soon {
    width: 100%;
}

.toolbar-horizontal-logo {
    height: 42px;
}

.cancel-btn {
    padding: 9px 30px 10px 30px !important;
}

.margin-auto {
    margin: 0 auto;
}

.ngx-datatable.material .datatable-body .progress-linear .container .bar {
    background-color: mat-color($mat-bs-primary, 500) !important;
}

.ngx-datatable.material .datatable-body .progress-linear .container {
    background-color: mat-color($mat-bs-primary, 500) !important;
}

table.simple thead tr th:first-child {
    padding-left: 16px !important;
}

table.simple tbody tr td:first-child {
    padding-left: 16px !important;
}

.flex-change-order-1 {
    -ms-flex-order: 1;
    order: 1;
}

.flex-change-order-2 {
    -ms-flex-order: 2;
    order: 2;
}

.nav-link .collapse-arrow {
    margin-left: 5px !important;
}

// Customer detials scss end
.back-button {
    a {
        mat-icon {
            color: mat-color($mat-bs-primary, 500) !important;
        }

        &:hover {
            text-decoration: none !important;
        }
    }
}

.note-bg {
    background: #ffe683;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}

.add-note,
.add-icon,
.product-website {
    mat-icon {
        color: mat-color($mat-bs-primary, 500) !important;
    }
}

.single-asset-photo {
    width: 120px;
    float: left;
    overflow: hidden;
    height: 90px;
    display: flex;
    background: #dcdcdc;
    -webkit-box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.25);
    align-items: center;
}

.default-bg {
    background: #dcdcdc;
}

.insure-bg {
    padding: 3px 8px;
    background: #c4b350;
}

.product-description-pa {
    p {
        padding: 0 !important;
        margin: 0 !important;
    }
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSIyN3B4IiBoZWlnaHQ9IjQ0cHgiIHZpZXdCb3g9IjAgMCAyNyA0NCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4gICAgICAgIDx0aXRsZT5rZXlib2FyZF9hcnJvd19yaWdodCAtIG1hdGVyaWFsIGNvcHk8L3RpdGxlPiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4gICAgPGRlZnM+PC9kZWZzPiAgICA8ZyBpZD0iUjYiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPiAgICAgICAgPHBvbHlnb24gaWQ9ImtleWJvYXJkX2Fycm93X3JpZ2h0LS0tbWF0ZXJpYWwtY29weSIgZmlsbD0iI0Q4MjAzNCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTMuNTAwMDAwLCAyMi4wMDAwMDApIHJvdGF0ZSgtMTgwLjAwMDAwMCkgdHJhbnNsYXRlKC0xMy41MDAwMDAsIC0yMi4wMDAwMDApICIgcG9pbnRzPSIwIDM4Ljg5NiAxNi43NzY2OTkgMjIgMCA1LjE5MiA1LjE1NTMzOTgxIDAgMjcgMjIgNS4xNTUzMzk4MSA0NCI+PC9wb2x5Z29uPiAgICA8L2c+PC9zdmc+") !important;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSIyN3B4IiBoZWlnaHQ9IjQ0cHgiIHZpZXdCb3g9IjAgMCAyNyA0NCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4gICAgICAgIDx0aXRsZT5rZXlib2FyZF9hcnJvd19yaWdodCAtIG1hdGVyaWFsPC90aXRsZT4gICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+ICAgIDxkZWZzPjwvZGVmcz4gICAgPGcgaWQ9IlI2IiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4gICAgICAgIDxwb2x5Z29uIGlkPSJrZXlib2FyZF9hcnJvd19yaWdodC0tLW1hdGVyaWFsIiBmaWxsPSIjRDgyMDM0IiBwb2ludHM9IjAgMzguODk2IDE2Ljc3NjY5OSAyMiAwIDUuMTkyIDUuMTU1MzM5ODEgMCAyNyAyMiA1LjE1NTMzOTgxIDQ0Ij48L3BvbHlnb24+ICAgIDwvZz48L3N2Zz4=") !important;
}

.action-container,
.content-container {
    height: 75px !important;
    width: 270px !important;
    margin: 0 !important;
}

swiper>.swiper.s-wrapper {
    width: 270px !important;
}

.swiper-slide,
.swiper-slide-active {
    background: transparent !important;
    color: #333333 !important;
}

.border-right-1 {
    border-right: 1px solid #dcdcdc;
}

.swiper-title-custom {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    color: #333;
    padding: 0;
}

.swiper-date-custom {
    font-size: 16px;
    color: #808080;
    padding: 0;
    margin: 0;
}

.un-ordered-list {
    ul {
        padding: 0;
        margin: 0;

        li {
            list-style: none;
        }
    }
}

.mat-slider-horizontal .mat-slider-ticks {
    height: 1px !important;
    background-size: 0% 1px !important;
}

.mat-slider-horizontal .mat-slider-track-wrapper {
    height: 1px !important;
}

.mat-slider-horizontal .mat-slider-wrapper {
    height: 1px !important;
}

.mat-slider-horizontal .mat-slider-ticks-container {
    height: 1px !important;
}

.mat-slider-ticks {
    opacity: inherit !important;
}

// @import '../../packages/template-themes/css/selectnetwork.css';

.ngx-datatable .datatable-body .datatable-body-row {
    //cursor: default !important;
    color: black !important;
}

.hsap-grey-color {
    color: mat-color($mat-bs-accent, 500);
}

.full-width {
    width: 100%;
}

.unselectable {
    pointer-events: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.user-select-none {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bottom-sheet-panel {
    margin-bottom: 20px;
    background: mat-color($mat-bs-primary, 500);
    color: white;
}

.upload-queue-bottom-sheet-panel {
    background: white;
    color: black;
}

//.mat-raised-button {
//    line-height: 16px !important;
//}

.ngx-contextmenu {
    background: white;
    box-shadow: 0 0 2px #ddd;

    ul {
        padding: 5px 0;
        margin: 0;
        list-style-type: none;

        li {
            padding: 8px 24px;
            min-width: 200px;
            cursor: pointer;

            &:hover {
                background: #ddd;
            }

            a {
                &:hover {
                    text-decoration: none !important;
                }
            }
        }
    }
}

@import "~@swimlane/ngx-datatable/release/assets/icons.css";

.ngx-datatable.material {

    /**
       * Body Styles
       */
    .datatable-body {
        .datatable-body-row {
            //cursor: pointer !important;
        }

        datatable-selection {
            width: 100%;

            .empty-row {
                width: 100%;
                display: block !important;
                text-align: center;
                margin-left: 0;
                margin-top: 32px;
                color: grey;
                font-size: 16px;
            }
        }
    }

    /**
       * Footer Styles
       */
    .datatable-footer {
        border-top: 1px solid rgba(0, 0, 0, 0.12);
        font-size: 12px;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.54);

        .page-count {
            line-height: 50px;
            height: 50px;
            padding: 0 1.2rem;
        }

        .datatable-pager {
            margin: 0 10px;

            li {
                vertical-align: middle;

                &.disabled a {
                    opacity: 0.5;
                    color: rgba(0, 0, 0, 0.26) !important;
                    background-color: transparent !important;
                }

                &.active a {
                    background-color: rgba(158, 158, 158, 0.2);
                    font-weight: bold;
                }
            }

            a {
                height: 22px;
                min-width: 24px;
                line-height: 22px;
                padding: 0 6px;
                border-radius: 3px;
                margin: 6px 3px;
                text-align: center;
                vertical-align: top;
                color: rgba(0, 0, 0, 0.54);
                text-decoration: none;
                vertical-align: bottom;

                &:hover {
                    color: rgba(0, 0, 0, 0.75);
                    background-color: rgba(158, 158, 158, 0.2);
                }
            }

            .datatable-icon-left,
            .datatable-icon-skip,
            .datatable-icon-right,
            .datatable-icon-prev {
                font-size: 20px;
                line-height: 20px;
                padding: 0 3px;
            }
        }
    }
}

.breakword {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header {
    .search {
        input {
            font-family: $custom-font-family;
            font-size: 18px;
            line-height: 1.15;
            margin: 0;
        }
    }
}

.no-hover>ul>li:hover {
    background: none !important;
}

.color-box {
    height: 24px;
    width: 24px;
}

.ie-custom-clear-btn::-ms-clear {
    height: 30px;
}

// -----------------------------------------------------------------
// ngx tbl support
// -----------------------------------------------------------------
@media only screen and (max-width: 599px) {
    .ngx-datatable {
        &.material {
            .datatable-footer {
                .datatable-footer-inner {
                    height: auto !important;
                    flex-direction: column !important;

                    .page-count {
                        text-align: center !important;
                    }

                    .datatable-pager {
                        margin: 0 !important;
                        text-align: center !important;
                    }
                }
            }
        }
    }
}

// -----------------------------------------------------------------
// ngx tbl support
// -----------------------------------------------------------------

// -----------------------------------------------------------------
// login pg
// -----------------------------------------------------------------
@media only screen and (max-width: 599px) {
    #login {
        #login-form-wrapper {
            overflow-y: auto !important;
        }
    }
}

@media only screen and (min-width: 600px) and (max-width: 959px) {
    #login {
        #login-form-wrapper {
            overflow-y: auto !important;
        }

        #login-intro {
            .title {
                font-size: 40px !important;
            }
        }
    }
}

@media only screen and (min-width: 960px) and (max-width: 1279px) {
    #login {
        #login-form-wrapper {}

        #login-intro {

            // padding: 128px 24px !important;
            .title {
                font-size: 80px !important;
            }
        }
    }
}

.dashboard-chart-vertical ngx-charts-chart g path {
    fill: #00a760 !important;
}

// -----------------------------------------------------------------
// login pg
// -----------------------------------------------------------------

// -----------------------------------------------------------------
// calender ui
// -----------------------------------------------------------------
.cal-month-view {
    .cal-events {
        overflow-y: auto !important;
    }
}

// -----------------------------------------------------------------
// calender ui
// -----------------------------------------------------------------

// build test

///////////////////////////////////////////////////////////////////////////////////
//hsap file
/////////////////////////////////////////////////////////////////////////////////

fuse-sidebar.navbar-fuse-sidebar {
    // display: flex;
    // flex-direction: column;
    width: 256px;
    min-width: 256px;
    max-width: 256px;
    // background-color: #FFFFFF;
    // overflow-y: auto;
    // overflow-x: hidden;
    // z-index: 4;
    // box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    // transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2), width 0.1s linear, min-width 0.1s linear, max-width 0.1s linear;
    // transform: translateX(0);
}

////////////////////////////////////////////////////////////////////////////
// New CSS
////////////////////////////////////////////////////////////////////////////

.forgot-password {
    color: mat-color($mat-bs-accent, 500) !important;
    // font-weight: 600 !important;
}

#login {
    #login-form-wrapper {}

    .mat-checkbox-layout {
        .mat-checkbox-label {
            color: mat-color($mat-bs-accent, 500) !important;
        }
    }

    .mat-checkbox {
        font-family: $custom-font-family;
    }

    .mat-form-field-infix {
        font-size: 16px !important;
    }

    input {
        .mat-input-element {
            font-size: 16px !important;
        }
    }

    .logo {
        margin-top: 32px !important;
    }

    .display-block {
        img {
            height: 128px !important;
        }
    }

    #login-intro {
        .title {
            font-size: 80px !important;
        }
    }

    .description {
        font-size: 18px;
        font-weight: 600;
        color: mat-color($mat-bs-accent, 500);
        text-align: center;
    }
}

app-platform-login-forgot-password {
    .login-message {
        font-size: 18px;
        font-weight: 600;
        color: mat-color($mat-bs-accent, 500);
        text-align: center;
    }

    a {
        font-size: 16px !important;
        color: mat-color($mat-bs-primary, 500) !important;
        font-weight: 600 !important;
    }
}

/* Fix DataTable pagination icons issue */
.datatable-icon-prev:before {
    content: "\72" !important;
}

.datatable-icon-left:before {
    content: "\6f" !important;
}

.datatable-icon-right:before {
    content: "\70" !important;
}

.datatable-icon-skip:before {
    content: "\71" !important;
}

.nav-primary-background {
    background: map-get($mat-bs-primary, A100);
}

.nav-secondaryBackground {
    background-color: map-get($mat-bs-accent, 500);
    z-index: 99;
    height: 230px;
}

// .success-snackbar {
//     color: map-get($mat-bs-primary ,500) !important;
//     background-color: #ffffff !important;
//     border-color: #c3e6cb !important;

//     .mat-simple-snackbar-action {
//         color: map-get($mat-bs-primary ,500) !important;
//     }
// }

// .delete-snackbar {
//     color: #ff0000 !important;
//     background-color: #ffffff !important;
//     border-color: #c3e6cb !important;

//     .mat-simple-snackbar-action {
//         color: #ff0000 !important;
//     }
// }

.circle-label {
    height: 25px;
    width: 25px;
    background-color: transparent;
    border-radius: 50%;
    display: inline-block;
}

.circular-image {
    border-radius: 50%;
    width: 32px;
}

//SKO CODE

body.theme-ecap {
    color: map-get($mat-bs-accent, 500);
}

.background-white {
    background: #ffffff;
}

body.theme-ecap .mat-tab-label,
body.theme-ecap .mat-tab-link {
    color: map-get($mat-bs-accent, 500);
}

.mat-button,
.mat-raised-button,
.mat-icon-button,
.mat-stroked-button,
.mat-flat-button,
.mat-fab,
.mat-mini-fab {
    font-family: $custom-font-family;
}

.h-100-p {
    height: 100%;
}

body.theme-ecap ngx-datatable.material:not(.cell-selection) .datatable-body .datatable-row-wrapper .datatable-body-row:hover .datatable-row-group {
    cursor: pointer !important;
}

body.theme-ecap .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: map-get($mat-bs-primary, 500);
}

body.theme-ecap .mat-radio-button.mat-accent .mat-radio-inner-circle,
body.theme-ecap .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
body.theme-ecap .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
body.theme-ecap .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: map-get($mat-bs-primary, 500);
}

body.theme-ecap .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
body.theme-ecap .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background: #de322b;
}

body.theme-ecap .mat-pseudo-checkbox::after {
    height: 3px !important;
    width: 8px !important;
}

body.theme-ecap .mat-pseudo-checkbox-checked,
body.theme-ecap .mat-pseudo-checkbox-indeterminate,
body.theme-ecap .mat-accent .mat-pseudo-checkbox-checked,
body.theme-ecap .mat-accent .mat-pseudo-checkbox-indeterminate {
    background: map-get($mat-bs-primary, 500);
}

body.theme-ecap .mat-dialog-container {
    color: map-get($mat-bs-accent, 500);
}

.mat-form-field {
    font: unset !important;
}

body.theme-ecap .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: map-get($mat-bs-accent, 500);
}

body.theme-ecap .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background: #f5c2bf;
}

body.theme-ecap .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background: #de322b;
}

//css changing in navigation
.nav.material2 .nav-item .nav-link,
.material2 .nav .nav-item .nav-link {
    margin-right: 24px;
}

.secondary-button,
.primary-button {
    display: flex;
    flex-direction: row;
    padding: 12px 16px;
    font-family: $custom-font-family;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.005em;
    text-transform: capitalize;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
}

.secondary-button {
    background: #f0f0f0 !important;
    color: map-get($mat-bs-accent, 500);
}

.primary-button {
    background: map-get($mat-bs-primary, 500);
    color: #ffffff;
}

.page-layout-container {
    position: absolute !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

mwl-calendar-open-day-events {

    // .cal-open-day-events > div{
    //     background-color: white !important;
    // }
    .cal-event-title {
        color: #3d3d3d !important;
    }
}

// ADDED FOR THEME SETTINGS

.mat-fab.mat-primary,
.mat-flat-button.mat-primary,
.mat-mini-fab.mat-primary,
.mat-raised-button.mat-primary,
button.mat-primary {
    background-color: map-get($mat-bs-primary, 500) !important;
    color: #fff !important;
}

.color-primary-500 {
    color: map-get($mat-bs-primary, 500) !important;
}

.color-primary-600 {
    color: map-get($mat-bs-primary, 600) !important;
}

.color-primary-700 {
    color: map-get($mat-bs-primary, 700) !important;
}

.color-primary-800 {
    color: map-get($mat-bs-primary, 800) !important;
}

.color-primary-900 {
    color: map-get($mat-bs-primary, 900) !important;
}

.color-primary-A100 {
    color: map-get($mat-bs-primary, A100) !important;
}

.color-primary-A200 {
    color: map-get($mat-bs-primary, A200) !important;
}

.color-primary-A400 {
    color: map-get($mat-bs-primary, A400) !important;
}

.color-primary-A700 {
    color: map-get($mat-bs-primary, A700) !important;
}

.mat-error {
    color: #d82034 !important;
}

// Disabaled buttton color
.mat-fab.mat-accent[disabled],
.mat-fab.mat-primary[disabled],
.mat-fab.mat-warn[disabled],
.mat-fab[disabled][disabled],
.mat-flat-button.mat-accent[disabled],
.mat-flat-button.mat-primary[disabled],
.mat-flat-button.mat-warn[disabled],
.mat-flat-button[disabled],
.mat-mini-fab.mat-accent[disabled],
.mat-mini-fab.mat-primary[disabled],
.mat-mini-fab.mat-warn[disabled],
.mat-mini-fab[disabled][disabled],
.mat-raised-button.mat-accent[disabled],
.mat-raised-button.mat-primary[disabled],
.mat-raised-button.mat-warn[disabled],
.mat-raised-button[disabled],
.mat-button[disabled] {
    cursor: not-allowed;
    background-color: rgba(0, 0, 0, 0.12) !important;
    color: rgba(0, 0, 0, 0.26) !important;
}

.button-text {
    font-family: $custom-font-family !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    // line-height: 16px;
    letter-spacing: 0.005em !important;
    text-transform: capitalize !important;
    background-color: transparent;
    box-shadow: none !important;
}

.back-button-wrapper {
    background: map-get($mat-bs-accent, 50) !important;
    border-radius: 4px !important;
    color: map-get($mat-bs-accent, 500) !important;
}

// account activation page class //
app-platform-login-activate-account-center,
app-app-exam-account-activation-center {
    div#login-form-wrapper {
        background: #676767;
    }

    div#login-form {
        box-shadow: none !important;
        background: #ffffff;
        border-radius: 4px;
        min-width: 560px !important;
        //height: 550px !important;
        padding: 56px 96px 120px 96px !important;
    }

    .login-message {
        font-weight: 600 !important;
        font-size: 28px !important;
        line-height: 40px !important;
        margin-bottom: 40px !important;
    }

    #login-form {
        h1 {
            text-align: center !important;
            margin-bottom: 0px !important;
            font-size: 28px !important;
            line-height: 40px !important;
        }

        br {
            display: none !important;
        }

        h2 {
            margin-top: 8px !important;
            font-size: 12px !important;
            line-height: 16px !important;
            margin-bottom: 54px !important;
        }
    }
}

// exam content max-width class //
.exam-content-max-width {
    max-width: 1056px !important;
    // margin: auto;
}

// .exam-content-min-width{
//     min-width: 940px !important;
// }

app-platform-login-default {
    .remember-me {
        display: none !important;
    }
}

.right-content-wrap {
    position: absolute;
    right: -10px;
    background-color: #fff;
    z-index: 9999;
    overflow-x: hidden !important;
    overflow-y: auto !important;
    //height: calc(100vh - 58px);

    .mat-form-field-appearance-outline {
        .mat-form-field-infix {
            padding: 13px 0px 13px 0px !important;
        }
    }

    .content-scroll-create {
        height: calc(100vh - 187px);
        overflow-x: hidden;
        overflow-y: auto;
        padding-bottom: 24px;
    }

    .content-scroll-update {
        height: calc(100vh - 204px);
        overflow-x: hidden;
        overflow-y: auto;
        padding-bottom: 24px;
    }

    .sticky-btn-wrapper {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #fff;
        padding-bottom: 10px;
        padding-left: 16px;
        padding-right: 16px;
    }
}

.transition {
    transition: all 0.75s ease;
}

.cal-month-view .cal-event {
    width: 8px !important;
    height: 8px !important;
}

.gc-tooltip {
    //  background: #BDBBBC    ;
    border-radius: 4px 4px 0px 0px;
}

.success-snackbar {
    background: map-get($mat-bs-system, green) !important;
    border-radius: 4px !important;
    min-height: 44px !important;
}

.delete-snackbar {
    background: #de322b !important;
    border-radius: 4px !important;
    min-height: 44px !important;
}

app-app-exam-planning {
    .right-content-wrap.transition {
        margin-right: 12px !important;
    }

    .mat-expansion-panel-body {
        padding: 0px !important;
    }

    .mat-expansion-panel-body>div {
        padding-left: 24px !important;
        padding-right: 24px !important;
    }

    mat-expansion-panel {
        box-shadow: 1px 0px 0px -14px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.01),
            0px 0px 3px 0px rgba(0, 0, 0, 0.1) !important;
        border-left: 1px solid rgba(0, 0, 0, 0.1) !important;
    }

    .mat-expansion-panel-spacing {
        margin: 0px 0 !important;
    }

    ngx-material-timepicker-toggle {
        display: none !important;
    }

    .ngx-timepicker-control__arrows {
        position: relative !important;
        top: -1px !important;
    }

    mat-expansion-panel-header.mat-expanded {
        background: #fbe6e6 !important;
    }

    app-app-exam-planning-add-candidate {
        .avatar-container {
            width: 24px !important;
            height: 24px !important;
        }

        .avatar-content {
            font: 12px / 24px Helvetica, Arial, sans-serif !important;
        }

        .contact-profile-image {
            width: 24px !important;
            height: 24px !important;
            min-width: 24px !important;
            max-width: 24px !important;
            min-height: 24px !important;
            max-height: 24px !important;
            position: relative !important;
            top: 12px !important;
        }

        .cus-avatar {
            width: 24px !important;
        }
    }
}

.popover-exam-planning-autocmp {
    background: rgba(0, 0, 0, 0.1);
}

.photo-upload-config {
    max-width: 100vw;
    width: 720px;
}

.letter-spacing-2 {
    letter-spacing: 2px;
}

.bold-text {
    font-weight: bold;
}

.mat-expansion-panel-spacing {
    .mat-expansion-panel-header {
        background: #e6e6e6;
        box-shadow: 0 -1px 0 0 #e6e6e6, 0 1px 0 0 #e6e6e6;
        padding: 0 16px !important;
    }
}

app-chat-contact-list-sidenav {
    .mat-form-field-label {
        color: rgba(0, 0, 0, 0.54) !important;
    }
}

.custom-tab {
    .mat-tab-links {
        height: 64px !important;

        mat-tab-group {
            height: 64px !important;
            width: 100%;

            mat-tab-header {
                height: 64px !important;

                .mat-tab-labels {
                    height: 64px !important;

                    .mat-tab-label-active {
                        a {
                            color: #de322b !important;
                        }
                    }

                    .mat-tab-label {
                        height: 64px !important;
                        padding: 0 !important;
                        opacity: 1 !important;
                    }
                }

                .mat-tab-label {
                    a {
                        height: 64px !important;
                        line-height: 64px;
                        display: block !important;
                        overflow: hidden !important;
                        text-overflow: ellipsis !important;
                        white-space: nowrap !important;
                        color: #676767;
                    }
                }
            }
        }
    }

    .mat-tab-header-pagination-chevron {
        border-color: #de322b !important;
    }
}

.mat-tab-header-pagination.mat-tab-header-pagination-disabled {
    display: none !important;
}

.mat-form-field-flex {
    align-items: center !important;
}

.cus-avatar {
    position: relative;
    overflow: hidden;
    height: 40px;
    width: 40px;
    min-width: 40px !important;
    min-height: 40px !important;
    line-height: 40px;
    border-radius: 50%;

    img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        height: 40px;
        width: 40px;
    }
}

app-chat-start {
    mat-icon {
        color: #676767;
    }
}

app-service-based-chat {
    mat-accordion {
        mat-expansion-panel {
            &:first-child {
                border-top: 1px solid rgba(0, 0, 0, 0.12);
            }
        }
    }

    .mat-expansion-panel:not([class*="mat-elevation-z"]) {
        //   border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        box-shadow: none !important;
    }

    .mat-accordion:last-child {
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }

    .mat-expansion-panel-body {
        padding: 0px !important;
    }

    .mat-expansion-panel-spacing {
        margin: 0px !important;
    }

    //   .mat-expansion-indicator {
    //     &::after {
    //       color: #de322b !important;
    //       padding: 5px !important;
    //     }
    //   }
}

.disabledElement {
    pointer-events: none !important;
    opacity: 0.4;
}

app-chat {
    .mat-tab-link {
        min-width: 60px !important;
    }

    .mat-tab-label {
        min-width: 60px !important;
    }

    .mat-tab-link.mat-tab-label-active {
        min-width: 60px !important;
    }
}

.remove-attendee {
    background-color: #dcdcdc;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.single-attendee {
    padding: 5px 12px;
    background: #f9f9f9;
    margin-bottom: 12px;
}

.attendee-name {
    font-weight: bold;
    font-size: 14px;
    color: #262626;
    margin: 0;
}

.attendee-email {
    font-size: 12px;
    color: #474646;
    margin: 0;
}

.link-icon {
    background-color: #9aa0a6;
    height: 36px;
    min-height: 36px;
    min-width: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    mat-icon {
        color: #fff;
    }
}

.link-box {
    background-color: #e8f0fe;
    color: #1967d2;
    padding: 8px;
}

.display-hidden {
    display: hidden !important;
}

.no-permission {
    mat-icon {
        color: #676767;
    }

    p {
        color: #262626;
    }
}


.dms-folder-icon,
.dms-file-icon {
    color: #676767
}

international-phone-number {
    display: flex;
    flex-direction: row;

    div.input-group {
        input[type="text"] {
            padding-left: 0px !important;
        }
    }
}

.mobile-label {
    padding-right: 8px !important;
}

.mat-row td {
    margin-bottom: 8px;
}

.dms-infinite-scroll-container {
    max-height: calc(100vh - 307px);
    overflow-x: hidden;
    overflow-y: auto;

    @media only screen and (min-width: 320px) and (max-width:420px) {
        max-height: calc(100vh - 390px);
    }
}

.dms-type-selection {
    mat-form-field {
        .mat-form-field-flex {
            background-color: transparent !important;
        }

        .mat-form-field-underline {
            display: none !important;
        }

        .mat-select-value {
            font-size: 28px;
            font-weight: bold;
        }
    }
}

.dms-folder-wrapper,
.dms-file-wrapper {
    @media only screen and (min-width: 320px) and (max-width:420px) {
        max-width: 230px;
    }
}

.dms-search-area {
    .search-input-wrapper {
        @media only screen and (min-width: 320px) and (max-width:420px) {
            max-width: 230px !important;
            width: 230px !important;
        }
    }
}

.member-ship-edit {
    .mat-option {
        justify-content: start;
        white-space: inherit !important;
        word-break: break-word !important;
        line-height: inherit !important;
        min-height: 50px;
    }
}

.mr-m-16 {
    margin-right: -16px;
}

.contact-chip {
    .mat-standard-chip .mat-chip-remove {
        border: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        padding: 0;
        background: none;
    }

    .mat-standard-chip .mat-chip-remove.mat-icon,
    .mat-standard-chip .mat-chip-remove .mat-icon {
        width: 18px;
        height: 18px;
        font-size: 18px;
    }
}

.contact-image-upload {
    .clear-close-icon-wrapper {
        position: absolute;
        right: 0;
        top: 0;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: #ffffff9e;
        cursor: pointer;
    }
}

.confirmation-modal{
    width: auto !important;
    min-width: 600px;
    @media only screen and (max-width: 768px) {
        min-width: auto;
        width: auto !important;
    }
}

