.mb-5 {
    margin-bottom: 5px !important;
}

.mt-6 {
    margin-top: 6px !important;
}

.mb-6 {
    margin-bottom: 6px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-25 {
    margin-bottom: 25px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.ml-8 {
    margin-left: 8px !important;
}

.mr-15 {
    margin-right: 15px !important;
}

.ml-15 {
    margin-left: 15px !important;
}

.pl-21 {
    padding-left: 21px !important;
}

.pt-29 {
    padding-top: 29px !important;
}

.pr-21 {
    padding-right: 21px !important;
}

.mt-13 {
    margin-top: 13px !important
}

.mr-5 {
    margin-right: 5px !important;
}

.pt-13 {
    padding-top: 13px !important;
}

.p-25 {
    padding: 25px !important;
}

.pr-15 {
    padding-right: 15px !important;
}

.pr-5 {
    padding-right: 5px !important;
}

.border-radius-16 {
    border-radius: 16px 16px 0px 0px !important;
}

.h-70 {
    height: 70px !important;
    min-height: 70px !important;
    max-height: 70px !important;
}

.pr-410 {
    padding-right: 410px !important;
}

.pt-23 {
    padding-top: 23px !important;
}

.pb-23 {
    padding-bottom: 23px !important;
}

.w-326 {
    width: 326px !important;
}

.w-710 {
    width: 710px !important;
}

.max-w-710 {
    max-width: 710px !important;
}

.max-w-326 {
    max-width: 326px !important;
}

.mt-18 {
    margin-top: 18px !important;
}

.w-30 {
    width: 30px !important;
}

.h-30 {
    height: 30px !important;
}

.w-342 {
    width: 342px !important;
}

.w-1074 {
    width: 1074px !important;
}

.ml-26 {
    margin-left: 26px !important;
}

.h-138 {
    height: 138px !important;
}

.w-198 {
    width: 198px !important;
}

.w-100-p {
    width: 100% !important;
}

.h-54 {
    height: 54px !important;

}

.pt-10 {
    padding-top: 10px !important;
}

.pt-20 {
    padding-top: 20px !important;
}

.pt-30 {
    padding-top: 30px !important;
}

.pt-40 {
    padding-top: 40px !important;
}

.pb-10 {
    padding-bottom: 10px !important;
}

.pb-20 {
    padding-bottom: 20px !important;
}

.pb-30 {
    padding-bottom: 30px !important;
}

.pb-40 {
    padding-bottom: 40px !important;
}

.pl-10 {
    padding-left: 10px !important;
}

.pl-20 {
    padding-left: 20px !important;
}

.pl-30 {
    padding-left: 30px !important;
}

.pl-40 {
    padding-left: 40px !important;
}

.pr-10 {
    padding-right: 10px !important;
}

.pr-20 {
    padding-right: 20px !important;
}

.pr-30 {
    padding-right: 30px !important;
}

.pr-40 {
    padding-right: 40px !important;
}

.pr-100 {
    padding-right: 100px;
}

.pl-100 {
    padding-left: 100px;
}

.ml-30 {
    margin-left: 30px !important;
}

.pl-18 {
    padding-left: 18px !important;
}

.pl-16 {
    padding-left: 16px !important;
}

.pl-8 {
    padding-left: 8px !important;
}

.pr-16 {
    padding-right: 16px !important;
}

.pr-8 {
    padding-right: 8px !important;
}

.mt-8 {
    margin-top: 8px !important;
}

.h-40 {
    height: 40px !important;
}

.pb-14 {
    padding-bottom: 14px !important;
}

.pl-10 {
    padding-left: 10px !important;
}

.w-40-p {
    width: 40% !important;
}

.w-50-p {
    width: 50% !important;
}

.w-60-p {
    width: 60% !important;
}

.w-70-p {
    width: 70% !important;
}

.w-80-p {
    width: 80% !important;
}

.w-90-p {
    width: 90% !important;
}

.w-1056 {
    width: 1056px !important;
}

.pt-30 {
    padding-top: 30px !important;
}

.mb-22 {
    margin-bottom: 22px !important;
}

.pt-18 {
    padding-top: 18px !important;
}

.pb-18 {
    padding-bottom: 18px !important;
}

.w-126 {
    width: 126px !important;
}

.w-170 {
    width: 170px !important;
}

.w-43 {
    width: 43px !important;
}

.pr-86 {
    padding-right: 86px !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.w-1074 {
    width: 1074px !important;
}

.pr-6 {
    padding-right: 6px !important;
}

.pb-282 {
    padding-bottom: 282px !important;
}

.mw-1056 {
    max-width: 1056px !important;
}

.mw-1074 {
    max-width: 1074px !important;
}

.w-114 {
    width: 114px !important;
}

.mb-22 {
    margin-bottom: 22px !important;
}


.mt-26 {
    margin-top: 26px !important;
}

.mt-14 {
    margin-top: 14px !important;
}

.mt-14 {
    margin-top: 14px !important;
}

.pl-8 {
    padding-left: 8px !important;
}

.pr-8 {
    padding-right: 8px !important;
}

.w-110 {
    width: 110px !important;

}

.mt-6 {
    margin-top: 6px !important;
}

.mb-38 {
    margin-bottom: 38px !important;
}