@import "../themes/custom-palette.scss";

$bs-accent-A100: #ffffff;
$base-black-color: #000000;
$custom-black-color: #262626;
$custom-font-family: "Source Sans Pro";
$custom-white-color: #FFFFFF;
$primary-500: mat-color($mat-bs-primary, 500) !important;