<div fxLayout="row" fxLayoutAlign="center center" class="w-100-p signup-page-container">
	<div class="sign-up-box" fxLayout="column" fxLayoutGap="16px" fxLayoutAlign="start center">
		<div class="page-header-1">
			{{"SIGNUP" | translate}}
		</div>
		<div class="stepper-container">
			<mat-stepper style="height: 100%;" [linear]="true" #stepper>
				<mat-step>
					<!-- <mat-step [stepControl]="generalInfoFormGroup"> -->

					<ng-template matStepLabel>General Information </ng-template>
					<app-general-info-form #generalInfoForm></app-general-info-form>
					<div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="8px">
						<button mat-button color="accent" matStepperPrevious>Back</button>
						<button mat-button color="primary" matStepperNext>Next</button>
					</div>

				</mat-step>
				<mat-step>
					<!-- <mat-step [stepControl]="professionalInfoFormGroup"> -->
					<ng-template matStepLabel>Professional Information </ng-template>
					<app-professional-info-form #professionalInfoForm></app-professional-info-form>
					<div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="8px">
						<button mat-button color="accent" matStepperPrevious>Back</button>
						<button mat-button color="primary" matStepperNext>Next</button>
					</div>
				</mat-step>

				<mat-step>
					<ng-template matStepLabel>Bank Information</ng-template>
					<app-bank-info-form #bankInfoForm></app-bank-info-form>

					<div fxLayout="row" fxLayoutAlign="end" fxLayoutAlign.xs="center" fxLayoutGap="8px">
						<button mat-raised-button color="primary">Complete</button>
					</div>
				</mat-step>
			</mat-stepper>
		</div>

	</div>
</div>