<div fxFlexFill fxLayout="row" fxLayoutAlign="start" class="login-page-container w-100-p">

	<div fxHide.lt-lg fxShow.gt-md>
		<div fxFlex="75" class="bannner-container">
			<img src="../../../assets/images/banner2.jpg" width="100%" height="100%" alt="Unable to show banner">
		</div>
		<div fxFlex="25" class="login-box-lg-screen">
			<div class="mb-30 txt-algn-c">
				<ng-container
					*ngTemplateOutlet="portalLanguageToggle ; context : {value : currentSelectedLanguageValue }">
				</ng-container>
			</div>

			<app-login-form>
				<button class="no-hover-effect" (click)="$event.preventDefault();" style="margin-right: -16px;"
					mat-button color="primary">Forgot password?
				</button>
			</app-login-form>

			<ng-container *ngTemplateOutlet="notAUserYet"></ng-container>

		</div>
	</div>

	<div fxHide.gt-md fxShow.lt-lg class="w-100-p max-tab-view" fxLayout="column" fxLayoutAlign="center center">
		<div [ngClass.md]="{'w-40-p' : true}" [ngClass.lt-md]="{'w-60-p' : true}" class="login-box-sm-screen">
			<app-login-form>
				<button (click)="$event.preventDefault();" mat-button color="primary">Forgot password?
				</button>
			</app-login-form>
			<ng-container *ngTemplateOutlet="notAUserYet"></ng-container>
		</div>
	</div>


</div>

<ng-template #notAUserYet>
	<div fxLayoutAlign="start center" fxLayout="row" fxLayoutGap="4px">
		<div>Not a user yet?</div>
		<button (click)="navigateToSignUp()" mat-button color="primary">CreateAccount</button>
	</div>

</ng-template>

<ng-template #portalLanguageToggle let-value="value">

	<button mat-button color="primary" (click)="onChangePortalLang(value)">
		<mat-icon fontIcon="language"></mat-icon>
		{{ value | portalLanguage | translate}}
	</button>
	<!-- <mat-button-toggle-group (change)="onChangePortalLang($event)" [value]="value" name="portalLanguage"
		aria-label="choose language">
		<mat-button-toggle value="be">{{"BENGALI" | translate}}</mat-button-toggle>
		<mat-button-toggle value="en">{{"ENGLISH" | translate}}</mat-button-toggle>
	</mat-button-toggle-group> -->
</ng-template>